<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>service</title>
	<link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/templatemo-xtra-blog.css" rel="stylesheet">
<!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->

 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="slider/fonts/icomoon/style.css">

    <link rel="stylesheet" href="slider/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="slider/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="slider/css/style.css">


</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
			 <img src="img/It-solution.jpg" alt="Image" class="img-fluid">  
                
            </div>
            <nav class="tm-nav" id="tm-nav">            
                 <ul>
                    <li class="tm-nav-item "><a href="/" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Accueil
                    </a></li>
                    <li class="tm-nav-item active"><a href="service" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Services
                    </a></li>
                    <li class="tm-nav-item"><a href="outils" class="tm-nav-link">
                        <i class="fas fa-tools"></i>
                        Outils
                    </a></li>
                    <li class="tm-nav-item"><a href="contact" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact 
                    </a></li>
                </ul>
            </nav>
            
           
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
			  <h2 class="mb-3 tm-color-primary tm-post-title"> Nos services</h2>
            <div class="row tm-row">
                <div class="col-12">
                   <hr class="tm-hr-primary">
                </div>                
            </div>           
            
            
            <div class="row tm-row tm-mb-120">
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-code fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title"> Développement logiciel</h2>
                        <p class="mb-0 tm-line-height-short">
                           
Applications web et desktop, API, maintenance et optimisation des applications, intégration, ...
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-users-cog fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">  Conception site web</h2>
                        <p class="mb-0 tm-line-height-short">
                         
Création et refonte des sites internet, maintenance et optimisation des sites web, responsive web design
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-chalkboard-teacher fa-4x tm-color-primary"></i>                            
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">Formation</h2>
                        <p class="mb-0 tm-line-height-short">
                           
Formations sur la prise en main de l'outil informatique, formations sur les logiciels métiers
                        </p>
                    </div>
                </div>
            </div>            
                  
            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Siège: <a rel="nofollow" target="_parent" href="" class="tm-external-link">chagoua</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright it-solution 2022 tout droit reservé.
                </div>
            </footer>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>
